@import "tailwindcss";
@import "react-tooltip/dist/react-tooltip.css";

@theme {
  --color-brand-github: #181717;
  --color-brand-spotify: #1db954;
  --color-brand-discord: #5865f2;

  --color-background: #f3f4f6;
  --color-card-background: #e5e7eb;

  --color-text: #101828;

  --color-accent: #f6339a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

h1 {
  @apply text-2xl font-light mb-4;
}

p {
  @apply text-gray-600 text-lg leading-relaxed max-w-2xl font-light;
}
