@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-light-primary text-light-text dark:bg-dark-primary dark:text-dark-text scroll-smooth select-none;
}

a {
    @apply underline;
}

a:hover {
    @apply text-highlight underline underline-offset-4;
}

p {
    @apply text-gray-500 text-sm md:text-base ;
}

h1 {
    @apply text-3xl md:text-4xl font-bold pb-3;
}

path {
    @apply stroke-dark-secondary dark:stroke-light-secondary;
}

ellipse {
    @apply fill-dark-secondary dark:fill-light-secondary;
}

circle {
    @apply fill-black dark:fill-white;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.uae-flag-text:hover {
    @apply bg-gradient-to-r from-black via-red-600 to-green-600 bg-clip-text text-transparent animate-gradient transition-all;
}


/* Tooltip custom css */
.v-popper--theme-album-cover .v-popper__inner {
  padding: 6px;
}
